input[type="radio"]:checked ~ label .label {
    @apply font-semibold;
}

.radio-card.disabled {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
}

.radio-card:has(:checked) {
    @apply outline-2 outline-[#1B2D18];
}

.tooltip::after {
    @apply absolute top-1/2 right-full border-gray-300 border-[10px] -mt-[10px] border-solid border-t-transparent border-r-gray-300 border-b-transparent border-l-transparent;
    content: "";
}

.has-tooltip {
    background-color: #ECF8F185;
    @apply lg:bg-transparent;
}

.has-tooltip:hover .tooltip,
.tooltip:hover {
    @apply visible z-50;
}

.product-item:nth-child(3n + 3) .tooltip {
    @apply left-auto right-0 ml-auto;
    margin-right: 7.5rem;
}

.product-item:nth-child(3n + 3) .tooltip::after {
    @apply left-full border-t-transparent border-r-transparent border-b-transparent border-l-gray-300;
}

#product-addtocart-button:disabled,
#product-addtocart-button-igf:disabled {
    @apply opacity-50;
}

.text-igf-grey {
    color: #575757;
}
